<h1>Stupid Coaching</h1>

<div class='question'>
  <h2><%= @question %></h2>
  <h3>-You</h3>
</div>

<div class='answer'>
  <h2><%= @coach_answer %></h2>
  <h3>-Your Coach</h3>
</div>

<%= link_to 'Ask your coach again', ask_path %>
